.bodyClass{
    background-color: #fff /*#43bdc9*/;
}

.navbar-default{
    background-color: #fc4e1b;
    border-color: #fc4e1b;
    color:#fff;
    margin-bottom:0;
}


.navbar-brand,
.navbar-default .navbar-nav > li > a,
a.navbar-brand,
.navbar-default .navbar-brand{
    color: #fff;
    transition: background-color 0.4s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover{
    background-color: #fc420c;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-brand:visited{
    background-color: #fc420c;
    color:#fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #fc420c;
    color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.page-heading {position: relative;padding: 60px 15px;color: rgba(255, 255, 255, 0.5);margin-bottom: 0;font-size: 20px;background-image: url("#{resource['/images/bg.png']}");background-color: rgba(0,0,0,0.8);}
.page-heading h1 { margin-top: 0; color: white; }
.page-heading p { margin-bottom: 0; line-height: 1.4; }
.page-heading .container { position: relative; }